<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.txtsoftwares.sorteador.test">
    <uses-sdk android:minSdkVersion="21" />
    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.txtsoftwares.sorteador" />
</manifest>