name: "CD Dev"

on: 
  push:
    branches: dev

jobs:
  firebase-app-distribution:
    name: Firebase App Distributio 
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout no código
      uses: actions/checkout@v4

    - name: Configurar Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.35.6'
        channel: 'stable'
        cache: true
    
    - name: Flutter pub get
      run: flutter pub get
    
    - name: Build app
      run: flutter build apk --debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: debug-apk
        path: build/app/outputs/flutter-apk/app-debug.apk
    
    - name: Setup gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.FIREBASE_PROJECT_ID }}

    - name: Download gcloud config json file
      id: gcloud_config
      uses: timheuer/base64-to-file@v1.0.3
      with:
        fileName: firebase-credentials.json
        encodedString: ${{ secrets.FIREBASE_CREDENTIALS }}

    - name: Configure the gcloud account
      run: |
        gcloud auth activate-service-account --key-file="${{ steps.gcloud_config.outputs.filePath }}"

    - name: Install Firebase CLI
      run: curl -sL https://firebase.tools | bash

    - name: Distribute to Firebase App Distribution
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.gcloud_config.outputs.filePath }}
      run: |
        firebase appdistribution:distribute build/app/outputs/flutter-apk/app-debug.apk \
          --app ${{ secrets.FIREBASE_APP_ID }} \
          --groups "QA" \
          --release-notes "Build automática via GitHub Actions" \
          --token $(gcloud auth print-access-token)
