name: "CD Dev"

on: 
  push:
    branches: dev

jobs:
  distribution:
    name: Distribution
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout no código
      uses: actions/checkout@v4

    - name: Configurar Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.35.6'
        channel: 'stable'
        cache: true
    
    - name: Flutter pub get
      run: flutter pub get
    
    - name: Build app
      run: flutter build apk --debug
    
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: debug-apk
        path: build/app/outputs/flutter-apk/app-debug.apk

    - name: Setup gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.FIREBASE_PROJECT_ID }}

    - name: Autenticar com o Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.FIREBASE_CREDENTIALS }}   

    - name: Install Firebase CLI
      run: curl -sL https://firebase.tools | bash

    - name: Distribute to Firebase App Distribution
      run: |
        firebase appdistribution:distribute build/app/outputs/flutter-apk/app-debug.apk \
          --app ${{ secrets.FIREBASE_APP_ID }} \
          --release-notes "Build automática via GitHub Actions" 