name: Integration Test with Firebase Test Lab

on:
  push:
    branches: dev

jobs:
  integration-test:
    name: Run Integration Tests on Firebase Test Lab
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.6'
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build app APK
        run: flutter build apk --debug

      - name: Build test APK (instrumentation)
        run: |
          cd android
          ./gradlew assembleAndroidTest
          cd ..

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.FIREBASE_PROJECT_ID }}

      - name: Download gcloud config json file
        id: gcloud_config
        uses: timheuer/base64-to-file@v1.0.3
        with:
          fileName: firebase-credentials.json
          encodedString: ${{ secrets.FIREBASE_CREDENTIALS }}

      - name: Configure the gcloud account
        run: |
          gcloud auth activate-service-account --key-file="${{ steps.gcloud_config.outputs.filePath }}"
          pushd build
          gcloud firebase test android run --type=instrumentation \
            --app "app/outputs/flutter-apk/app-debug.apk" \
            --test "app/outputs/apk/androidTest/debug/app-debug-androidTest.apk" \
            --device model=Pixel2,version=30,locale=en,orientation=portrait \
            --timeout 15m
          popd
