name: Flutter Integration Tests (Android)

on:
  push:
    branches:
      - dev

jobs:
  integration-test:
    name: Run Integration Test on Android Emulator
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.6'
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Run integration tests on Android emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          arch: x86_64
          profile: Nexus 6
          script: flutter test integration_test/app_test.dart
